@import "../base/variables";

.header-container {
    background-color: $primary-color;
    padding: $padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.header-list {
    list-style: none;
    display: flex;
    align-items: center;

    li {
        margin: 0 $padding;
    }

    .logo {
        width: 120px;
    }

    .Connexion-button a {
        color: $secondary-color;
        text-decoration: none;
        font-weight: bold;
        padding: 0.5rem 1rem;
        border: 1px solid $secondary-color;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
            background-color: $secondary-color;
            color: #fff;
        }
    }
}
